.inputFiled {
  width: 30%;
  height: 40px;
  margin-top: 10px;
  border: 2px solid lightgray;
  outline: none;
  padding: 10px;
  font-size: 14px;
}
.addButton {
  width: 10%;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 600;
  background-color: #121212;
}
.addContactForNew {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.addContactBtn {
  width: 10%;
  height: 40px;
  font-size: 15px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .inputFiled {
    width: 80%;
  }
  .addButton {
    width: 30%;
  }
  .addContactForNew {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .addContactBtn {
    width: 30%;
    margin-right: 0px;
  }
}
